<!DOCTYPE html>
<html>
<head>
    <title>Depop Scraper</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')
 }}">

</head>
<body>
<div class="navbar-fixed">
    <nav>
        <div class="red nav-wrapper">
        <a href="#" class="brand-logo"><strong>DEPOP</strong></a>
        <div class="container">
        <div class="row">
            <form action="{{ url_for('index') }}">
                <input type="text" name="users">
            </form>
        </div>
        </div>
        </div>
    </nav>
</div>

    {% block content %}

    {% endblock %}

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


</body>
</html>
